*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../public/pitch.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
}

.navbar{
  width: 100%;
  height: 10vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer{
  width: 100%;
  height: 10vh;
  background-color: #006400;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-container{
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tabs{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.tab-leagues{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 50px;
  border-right: 5px solid #cccc;
}

.tab-standings{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 50px;
}

.league-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center; 
}

.league-div{
  background-color: white;
  margin: 20px 20px;
}

.league-div:hover{
  transform: scale(1.1);
}

.league-div > img{
  width: 250px;
}

select{
  padding: 10px;
  font-size: 20px;
}

.standing-results{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
}

.table{
  background-color: white;
}

.table thead{
  text-align: center;
}

.s-number{
  text-align: center;
}

.table td, .table th {
  padding: .25rem;
}

.table .position {
  width: 5%;
}

.table .points, .table .played, .table .won, .table .draw, .table .lost, .table .ga {
  width: 10%;
}

.table .badge-td {
  width: 5%;
}

.badge{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.badge img{
  max-width: 100%;
  max-height: 100%;
}

.tabs:hover{
  cursor: pointer;
}